<h1>Hello</h1>
<%= month_calendar do |date| %>
  <%= date %>
<% end %>

<!--
<%= month_calendar(events: @interactions) do |date, interactions| %>
  <%= date %>
  <% interactions.each do |interaction| %>
    <div>
      <%= interaction.name %>
    </div>
  <% end %>
<% end %>
>
