  <div class="modal fade" id="newInteractionModal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="newInteractionModalLabel">New Interaction</h5>
          <button type="button" class="close" onclick="closeModal()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          </button>
        </div>
        <div class="modal-body">
          <%= simple_form_for(interaction) do |f| %>
            <%= f.input :headline %>
            <%= f.input :event_date %>
            <%= f.input :event_time %>
            <%= f.input :location %>
            <%= f.input :interaction_type, collection: Interaction.interaction_types.keys.map { |type| [type.titleize, type] }, label: "Interaction Type", include_blank: false, prompt: "Select Interaction Type" %>
            <%= f.association :job_application,
                              label: "Select Job Application",
                              label_method: ->(e){ "#{e.job_title} - #{e.company.name}" } %>
            <%= f.button :submit, class: 'btn-task' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
