<div class="container-calendar">
  <h1>Interactions</h1>

  <%= month_calendar(attribute: :event_date, events: @interactions) do |date, interactions| %>
    <div>
      <div class="<%= 'red-circle' if date == Date.today %>">
        <%= date.day %>
      </div>
      <% interactions.each do |interaction| %>
        <div class="flexbox">
          <%= interaction.headline %>
        </div>
      <% end %>
    </div>
  <% end %>

<%# <i class="fa-solid fa-chevron-left"></i> %>


<%# Assuming Rails automatically requires necessary libraries %>


<div class='upcoming'>
  <h1>Upcoming events</h1>
  <div class="flexbox">
    <% @interactions.each do |interaction| %>
      <div class="container">
        <div class="row">
          <div class="col-2">
            <div class="img-div">
              <% if interaction.interaction_type == "phone" %>
                <i class="fa-solid fa-phone"></i>
              <% elsif interaction.interaction_type == "videocall" %>
                <i class="fa-solid fa-video"></i>
              <% elsif interaction.interaction_type == "f2f" %>
                <i class="fa-solid fa-map-marker-alt"></i>
              <% else %>
                <i class="fa-solid fa-map-marker-alt"></i>
              <% end %>
            </div>
          </div>
          <div class="col-7">
            <h3><%= interaction.headline %></h3>
            <p><%= interaction.event_date.strftime('%b %d, %A') %></p>
          </div>
          <div class="col-3">
            <h3><%= interaction.event_time.strftime('%I:%M %p') %></h3>
            <p><%= interaction.location %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>





<!--
<h1>Upcoming events</h1>
  <div class="container">
    <% @interactions.each do |interaction| %>
      <div class="row">
        <div class="card-product">
          <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
          <div class="card-product-infos container">
            <div class="col-8">
              <h2><%= interaction.headline %></h2>
              <p><%= interaction.event_date.strftime('%b %d, %A') %></p>
            </div>
            <div class="col-4">
              <p><%= interaction.event_time.strftime('%I:%M %p') %></p>
              <p><%= interaction.location %></p>
              <%# <p><%= interaction.interaction_type %></p>
            </div>
        </div>
      </div>
    <% end %>
  </div>
-->





</div>
