<div class="container-calendar">
  <h1>Interactions</h1>

  <%= month_calendar(attribute: :event_date, events: @interactions) do |date, interactions| %>
    <div>
      <div class="<%= 'red-circle' if date == Date.today %>">
        <%= date.day %>
      </div>
      <% interactions.each do |interaction| %>
        <div class="flexbox">
          <%= interaction.headline %>
           <!-- TOCHANGE TODO -->
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Launch demo modal</button>
        </div>
      <% end %>
    </div>
  <% end %>

<%# <i class="fa-solid fa-chevron-left"></i> %>


<%# Assuming Rails automatically requires necessary libraries %>


<div class='upcoming'>
  <h1>Upcoming events</h1>
  <div class="flexbox">
    <% @interactions.each do |interaction| %>
      <div class="container">
        <div class="row">
          <div class="col-2">
            <div class="img-div">
              <% if interaction.interaction_type == "phone" %>
                <i class="fa-solid fa-phone"></i>
              <% elsif interaction.interaction_type == "videocall" %>
                <i class="fa-solid fa-video"></i>
              <% elsif interaction.interaction_type == "f2f" %>
                <i class="fa-solid fa-map-marker-alt"></i>
              <% else %>
                <i class="fa-solid fa-map-marker-alt"></i>
              <% end %>
            </div>
          </div>
          <div class="col-7">
            <h3><%= interaction.headline %></h3>
            <p><%= interaction.event_date.strftime('%b %d, %A') %></p>
          </div>
          <div class="col-3">
            <h3><%= interaction.event_time.strftime('%I:%M %p') %></h3>
            <p><%= interaction.location %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>


<h1>Modal</h1>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Launch demo modal</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>











</div>
