<div class="container-calendar">
  <h1>Interactions</h1>
  <ul>
  <% @interactions.each do |interaction| %>
    <li>
      <span>
        <%= interaction.headline %> - <%= interaction.event_date %>
      </span>
    </li>
  <% end %>
  </ul>


  <%= month_calendar(attribute: :event_date, events: @interactions) do |date, interactions| %>
    <div>
      <div class="<%= 'red-circle' if date == Date.today %>">
        <%= date.day %>
      </div>
      <% interactions.each do |interaction| %>
        <div class="flexbox">
          <%= interaction.headline %>
        </div>
      <% end %>
    </div>
  <% end %>


<%# Assuming Rails automatically requires necessary libraries %>



  <div class='upcoming'>
  <h1>Upcoming events</h1>
    <div class="flexbox">
      <% @interactions.each do |interaction| %>
        <div class="container">
          <div class="row">
            <div class="col-3">
              <div class="img-div">
                <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
              </div>
            </div>
            <div class="col-6">
              <h3><%= interaction.headline %></h3>
              <p><%= interaction.event_date.strftime('%b %d, %A') %></p>
            </div>
            <div class="col-3">
              <h3><%= interaction.event_time.strftime('%I:%M %p') %></h3>
              <p><%= interaction.location %></p>
              <%# <p><%= interaction.interaction_type %></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>




<!--
<h1>Upcoming events</h1>
  <div class="container">
    <% @interactions.each do |interaction| %>
      <div class="row">
        <div class="card-product">
          <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
          <div class="card-product-infos container">
            <div class="col-8">
              <h2><%= interaction.headline %></h2>
              <p><%= interaction.event_date.strftime('%b %d, %A') %></p>
            </div>
            <div class="col-4">
              <p><%= interaction.event_time.strftime('%I:%M %p') %></p>
              <p><%= interaction.location %></p>
              <%# <p><%= interaction.interaction_type %></p>
            </div>
        </div>
      </div>
    <% end %>
  </div>
-->





</div>
