

<div class="modal fade" id="newInteractionModal" data-controller="interaction">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="newInteractionModalLabel">New Interaction</h5>
        <button type="button" class="close" data-action="click->interaction#closeModal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="modal"  data-interaction-id-value="<%= job_application.id %>">
        <%= render "interactions/form", job_application: job_application, interaction: interaction %>
      </div>
    </div>
  </div>
</div>

 <div class="m-5" style="">
  <div class="row">
     <div class="col">
      <div class="mb-3 card-task" style="align-items: center; padding-bottom: 15px">
        <% if current_user.present? %>
          <% @interactions.each do |interaction| %>
            <div class="d-flex border-start mb-3 align-items-center" style="background-color: #262525">
              <div class="icon-task" style="margin-left: 10px;">
                <i class="fa-solid fa-envelope"></i>
              </div>
              <div class="p-3 flex-grow-1">
                <p class="padding-card card-task-title d-flex"><%= interaction.headline %></p>
                <p class="padding-card"><%= interaction.event_date %></p>
              </div>
              <%= link_to interaction_path(interaction), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, id: "interaction-link" do %>
                <i class="fa-solid fa-trash" style="font-size: smaller; margin-right: 10px;"></i>
              <% end %>
            </div>
        <% end %>
        <% else %>
          <p>No interaction yet, keep pushing</p>
        <% end %>
      </div>
    </div>
    <div class="col d-flex justify-content-center">
      <div class="pb-5">
        <button type="button" class="btn btn-flat" data-bs-toggle="modal" data-bs-target="#newInteractionModal">
          <i class="fa-solid fa-circle-plus"></i> Add an interaction
        </button>
      </div>
    </div>
  </div>
</div>



<script>

</script>



      <%# <button name="button" type="submit" class="btn">
        <i class="fa-solid fa-circle-plus btn-text"></i> Add an interaction
      </button>
       %>
