
<div class="container" data-search-bar-target="list">
<div>
  <div>
    <div>
      <h4 class="tab-underlined active" style="font-size: 16px">Just Applied</h4>
      <div class="column-content">
      <% @just_applied_applications.each do |job_application| %>
        <%= link_to job_application_path(job_application), class: "text-decoration-none me-2" do %>
          <%= render 'job_card', job_application: job_application %>
          <% end %>
        <% end %>
      </div>
    </div>

    <div>
      <h4 class="tab-underlined active" style="font-size: 16px">First Interview</h4>
        <div class="column-content">
        <% @first_interview_applications.each do |job_application| %>
          <%= link_to job_application_path(job_application), class: "text-decoration-none me-2" do %>
            <%= render 'job_card', job_application: job_application %>
          <% end %>
        <% end %>
      </div>
    </div>

    <div>
      <h4 class="tab-underlined active" style="font-size: 16px">Advanced</h4>
      <% @advanced_process_applications.each do |job_application| %>
       <div class="column-content">
        <%= link_to job_application_path(job_application), class: "text-decoration-none me-2" do %>
          <%= render 'job_card', job_application: job_application %>
        <% end %>
      <% end %>
    </div>
    </div>

    <div>
      <h4 class="tab-underlined active" style="font-size: 16px">Offer</h4>
      <% @offer_applications.each do |job_application| %>
       <div class="column-content">
        <%= link_to job_application_path(job_application), class: "text-decoration-none me-2" do %>
          <%= render 'job_card', job_application: job_application %>
        <% end %>
      <% end %>
    </div>
    </div>
  </div>
</div>
</div>
