

  <div class="pipeline">
    <div class="column">
      <h2>Just Applied</h2>
      <% @just_applied_applications.each do |job_application| %>
        <%= render 'job_card', job_application: job_application %>
      <% end %>
    </div>

    <div class="column">
      <h2>First Interview</h2>
      <% @first_interview_applications.each do |job_application| %>
        <%= render 'job_card', job_application: job_application %>
      <% end %>
    </div>

    <div class="column">
      <h2>Advanced Process</h2>
      <% @advanced_process_applications.each do |job_application| %>
        <%= render 'job_card', job_application: job_application %>
      <% end %>
    </div>
  </div>


<h1>All Job Applications</h1>

<table>
  <thead>
    <tr>
      <th>Just Applied</th>
      <th>First interview</th>
      <th>Advanced process</th>
    </tr>
  </thead>
  <tbody>
    <% @job_applications.each do |job_application| %>
      <tr>
        <td><%= job_application.application_start_date %></td>
        <td><%= job_application.job_title %></td>
        <td><%= job_application.status %></td>
        <td>
          <%= link_to 'Show', job_application %>
          <%= link_to 'Edit', edit_job_application_path(job_application) %>
          <%= link_to 'Delete', job_application, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
