<div class="container-application" style="margin-top: 0 !important">
  <div class="container-background">
    <div>
      <div class="d-flex">
        <div class="p-2 w-100 mb-4">
          <h1><%= @job_application.job_title %></h1>
          <p style="font-size: 24px;"><i class="fa-solid fa-building me-3"></i> <%= @job_application.company.name %></p>
        </div>
      </div>
    </div>
  </div>


<%# // -------------TIMELINE--------------- // %>
  <div class="d-flex flex-column container-timeline">
    <img src="https://res.cloudinary.com/dkr1l2a2k/image/upload/v1710244429/Pablo_the_foxi_2_adnfeg.png" alt="Pablo Rockstar" style="width: 150px; position: absolute; left: -60px; bottom: -9px;">
    <div class="d-flex align-items-center justify-content-center timeline" style="padding-bottom: 45px;">
      <div style="width: 11%;"></div>
      <div class="icone-sent my-1">
      </div>
      <div class="white-line"></div>
      <div class="icone-interview my-1"></div>
      <div class="white-line"></div>
      <div class="icone-advanced my-1"></div>
      <div class="white-line"></div>
      <div class="icone-offer my-1"></div>
      <div style="width: 11%;"></div>
    </div>
    <div class="d-flex align-items-center justify-content-center" style="margin-top: -40px;">
        <div class="timeline-item">
          <div class="timeline-item-content">
            <h3 class=<%= @job_application.status == "just_applied" ? "border-active-process" : "" %>>STEP 1</h3>
            <h3><strong>Just applied</strong></h3>
          </div>
        </div>
        <div class="timeline-item">
          <div class="timeline-item-content">
            <h3 class=<%= @job_application.status == "first_interview" ? "border-active-process" : "" %>>STEP 2</h3>
            <h3><strong>1st interview</strong></h3>
          </div>
        </div>
        <div class="timeline-item">
          <div class="timeline-item-content">
            <h3 class=<%= @job_application.status == "advanced" ? "border-active-process" : "" %>>STEP 3</h3>
            <h3><strong>Advanced process</strong></h3>
          </div>
        </div>
        <div class="timeline-item">
          <div class="timeline-item-content">
            <h3 class=<%= @job_application.status == "offer" ? "border-active-process" : "" %>>STEP 4</h3>
            <h3><strong>Offer</strong></h3>
          </div>
        </div>
    </div>
  </div>




<%# // ----------------- COLONNES 💖 ------------- class="border-active-process" // %>

      <div class="p-5 mt-2">
        <div class="row">
          <div class="col-md-9">
            <ul class="list-inline tabs-underlined " id="myTab" role="tablist" style>
              <li role="presentation">
                <div class="tab-underlined active d-flex" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">
                  <i class="fa-solid fa-file-invoice me-2"></i>
                  <p>Job description</p>
                </div>
              </li>
              <li class="nav-item tabs-underlined" role="presentation">
                <div class="tab-underlined d-flex" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">
                  <i class="fa-regular fa-comment-dots me-2"></i>
                  <p>My past interactions</p>
                </div>
              </li>
              <li class="nav-item tabs-underlined" role="presentation">
                <div class="tab-underlined d-flex" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab" aria-controls="contact" aria-selected="false">
                  <i class="fa-solid fa-pencil me-2"></i>
                  <p>My notes</p>
                </div>
              </li>
            </ul>
            <hr>
            <div class="tab-content" id="myTabContent" data-controller="interaction">
              <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
              <%= render "job_description" %>
              </div>
              <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab" data-interaction-target="applications">
                <%= render "interactions", job_application: @job_application, interaction: @interaction %>
              </div>
              <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                <%= render "notes", job_application: @job_application %>
              </div>
            </div>
          </div>


          <div class="col-md-3">
            <div class="p-4" style="position: relative; background-color: #262525; border-radius: 16px;">
                <div class="m-1" >
                  <p style="font-size: 16px;">
                    <i style="font-size: 14px;" class="fa-solid fa-location-dot m-2"></i>Location: <%= @job_application.job_location %></p>
                  <p style="font-size: 16px;">
                    <i style="font-size: 14px;" class="fa-solid fa-sack-dollar m-2"></i>Salary: <%= @job_application.salary %>€</p>
                  <a style="font-size: 16px; color: white; text-decoration: none;" href="<%= @job_application.offer_link %>">
                    <i style="font-size: 14px;" class="fa-solid fa-circle-arrow-right m-2"></i>
                    Job source: <%= @job_application.application_source %>
                  </a>
                </div>
            <p style="font-size: 20px; font-weight: bold; position: absolute; top: -14px; left: 64px;">Further details</p>
            </div>

            <div class="mt-5">
              <h4 style="font-size: 16px; text-align: center">Contacts</h4>
              <div class="mb-3" style="align-items: center;">
                <% @contacts.each do |contact| %>
                  <%= render "contact_card", contact: contact %>
                <% end %>
              </div>
            </div>


            </div>
            </div>

          </div>
        </div>
      </div>
    </div>


<%# // ------------------ JOB DESCRIPTION ---------------- // %>

<%# // ------------------ INTERACTIONS ---------------- // %>

<%# // ------------------ NOTES ---------------- // %>



<%# <div class="container"> %>
<%# <p><strong>Application Start Date:</strong> 01/01/2023</p> %>
<%# <p><strong>Offer Link:</strong> <%= @job_application.offer_link %>
<%# <p><strong>Status:</strong> <%= @job_application.status %>
<%# <p><strong>Job Location:</strong> <%= @job_application.job_location %>
<%# <p><strong>Notes:</strong> <%= @job_application.notes %>
<%# <p><strong>Application Source:</strong> <%= @job_application.application_source %>
<%# <%= link_to 'Edit', edit_job_application_path(@job_application) %>
<%# <%= link_to 'Back', job_applications_path %>
<%#
</div>
</div> %>
