<div class="container-background ">
  <div class="container-application">
    <div class="d-flex">
      <div class="p-2 w-100">
        <h1>Job Journey</h1>
        <h3><%= @job_application.job_title %></h3>
      </div>
      <div class="p-2 flex-shrink-0">
          <div>
            <p class="category-process">
            <i class="fa-solid fa-building"></i>
              Company name
            </p>
          </div>
          <div class="d-flex">
            <p class="m-3">
            <i class="fa-solid fa-location-dot m-2"></i><%= @job_application.job_location %></p>
            <p class="m-3">
            <i class="fa-solid fa-sack-dollar m-2"></i><%= @job_application.salary %></p>
          </div>
        </div>
      </div>
  </div>
</div>


<%# // -------------TIMELINE--------------- // %>
  <div class="d-flex flex-column container-timeline">
    <div class="d-flex align-items-center justify-content-center timeline" style="padding-bottom: 45px;">
      <div style="width: 11%;"></div>
      <div class="icone-sent my-1">
      </div>
      <div class="white-line"></div>
      <div class="icone-interview my-1"></div>
      <div class="white-line"></div>
      <div class="icone-advanced my-1"></div>
      <div class="white-line"></div>
      <div class="icone-offer my-1"></div>
      <div style="width: 11%;"></div>
    </div>
    <div class="d-flex align-items-center justify-content-center" style="margin-top: -40px;">
        <div class="timeline-item">
          <div class="timeline-item-content">
            <h3>STEP 1</h3>
            <h3><strong>Just applied</strong></h3>
            <span class="timeline-item-date">01/01/2023</span>
          </div>
        </div>
        <div class="timeline-item">
          <div class="timeline-item-content">
            <h3 class="border-active-process">STEP 2</h3>
            <h3><strong>1st interview</strong></h3>
            <span class="timeline-item-date">01/01/2023</span>
          </div>
        </div>
        <div class="timeline-item">
          <div class="timeline-item-content">
            <h3>STEP 3</h3>
            <h3><strong>Advanced process</strong></h3>
            <span class="timeline-item-date">01/01/2023</span>
          </div>
        </div>
        <div class="timeline-item">
          <div class="timeline-item-content">
            <h3>STEP 4</h3>
            <h3><strong>Offer</strong></h3>
            <span class="timeline-item-date">01/01/2023</span>
          </div>
        </div>
    </div>
  </div>




<%# // ----------------- COLONNES 💖 ------------- // %>

    <div class="container-application">
      <div class="row">
        <div class="col-md-9">
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item tabs-underlined" role="presentation">
              <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">
                  <div>
                  <i class="fa-solid fa-file-invoice"></i>
                </div>
                <div>
                  <p class="tab-underlined">Job description</p>
                </div>
                </button>
            </li>
            <li class="nav-item tabs-underlined" role="presentation">
              <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">
              <div>
                <i class="fa-regular fa-comment-dots"></i>
              </div>
              <div>
                <p class="tab-underlined">My past interactions</p>
              </div>
              </button>
            </li>
            <li class="nav-item tabs-underlined" role="presentation">
              <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab" aria-controls="contact" aria-selected="false">
              <div>
                <i class="fa-solid fa-pencil"></i>
              </div>
              <div>
                <p class="tab-underlined">My notes</p>
              </div>
              </button>
            </li>
          </ul>
          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <%= render "job_description" %>
            </div>
            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
              <%= render "interactions" %>
            </div>
            <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
              <%= render "notes", job_application: @job_application %>
            </div>
          </div>
        </div>


        <div class="col-md-3">
          <div class="d-flex">
            <div>
              <p class="category-tag">
              <i class="fa-solid fa-magnifying-glass-location"></i>
                # <%= @job_application.application_source %>
              </p>
              <a class="category-tag">
              <i class="fa-solid fa-paperclip"></i>
              <%= @job_application.offer_link %>
              </a>
            </div>
          </div>

          <div class="mt-5">
            <h4>Contact</h4>
            <div class="d-flex mb-3" style="align-items: center;">
            <div class="p-3">
              <img src="https://cdn-icons-png.flaticon.com/128/1177/1177568.png" alt="Avatar contact" class="contact-card-img">
            </div>
              <div class="p-3">
                <p class="padding-card card-task-title d-flex">First Name - Name</p>
                <p class="padding-card">Job Title</p>
                <i class="fa-solid fa-phone contact-card-i"></i>
                <i class="fa-solid fa-envelope contact-card-i"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>



<%# // ------------------ JOB DESCRIPTION ---------------- // %>

<%# // ------------------ INTERACTIONS ---------------- // %>

<%# // ------------------ NOTES ---------------- // %>



<%# <div class="container"> %>
<%# <p><strong>Application Start Date:</strong> 01/01/2023</p> %>
<%# <p><strong>Offer Link:</strong> <%= @job_application.offer_link %>
<%# <p><strong>Status:</strong> <%= @job_application.status %>
<%# <p><strong>Job Location:</strong> <%= @job_application.job_location %>
<%# <p><strong>Notes:</strong> <%= @job_application.notes %>
<%# <p><strong>Application Source:</strong> <%= @job_application.application_source %>
<%# <%= link_to 'Edit', edit_job_application_path(@job_application) %>
<%# <%= link_to 'Back', job_applications_path %>
<%#
</div>
</div> %>
