<div class="modal fade" id="newTaskModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="newTaskModalLabel">New Task</h5>
        <button type="button" class="close" onclick="closeModal()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        </button>
      </div>
      <div class="modal-body">
        <%= simple_form_for(task) do |f| %>
          <%= f.input :name %>
          <%= f.input :description %>
          <%= f.association :job_application,
                            label: "Select Job Application",
                            label_method: ->(e){ "#{e.job_title} - #{e.company.name}" } %>
          <%= f.button :submit, class: 'btn-task' %>
        <% end %>
      </div>
    </div>
  </div>
</div>


<script>
      function closeModal() {
        var modal = document.getElementById('newTaskModal');
        if (modal) {
            modal.classList.remove('show');
            modal.setAttribute('aria-hidden', 'true');
            modal.style.display = 'none';
            var modalBackdrop = document.getElementsByClassName('modal-backdrop')[0];
            if (modalBackdrop) {
                modalBackdrop.remove();
            }
        }
    }
</script>
