<div class="container mb-2" data-bs-toggle="modal" data-search-bar-target="tasks">

<%# ------------- // TASKS CARDS // ------- %>
  <div style="max-height: 320px; overflow-y: scroll;" class="p-1">
    <div class="d-flex flex-column mb-3 card-task">
      <% if current_user.present? %>
        <% @tasks.each do |task| %>
          <div class="d-flex align-items-center custom-checkbox card-task-ui" style="position: relative;">
            <input class="custom-checkbox" type="checkbox" id="task_<%= task.id %>" name="task_<%= task.id %>" style="transform: scale(1.5);"/>
            <div class="d-flex align-items-center">
              <label for="task_<%= task.id %>">
              </label>
              <div class="card-task">
                <p style="font-size: 16px;"><span style="color: #9796f0;"><%= task.name %></span> - <%= task.job_application.job_title %> @<%= task.job_application.company.name %></p>
                <p style="margin-top: -15px; font-size: 12px; color: #7E7E7E;"><%= task.description %></p>
              </div>
            </div>
          </div>
        <% end %>
      <% else %>
        <p>No task available.</p>
      <% end %>
    </div>
  </div>
</div>
