
<div class="container container-colored" data-search-bar-target="tasks">
  <%= render 'shared/new_tasks', task: @task %>

<%# ------------- // TASKS MESSAGE // ------- %>
  <div class="ms-5 me-5 d-flex justify-content-between">
    <h3 style="padding: 10px;">My to-do list</h3>
    <button type="button" class="btn btn-task mt-2" data-bs-toggle="modal" data-bs-target="#newTaskModal">
      <i class="fa-solid fa-circle-plus"></i> <strong>Add a task</strong>
    </button>
  </div>
<%# ------------- // PROGRESS BAR // ------- %>
  <div class="progress">
    <div class="progress-bar" style="width: 70%; font-weight: bold; font-size: 12px; padding-left: 50%; color: #745EF5;">70%</div>
  </div>

<%# ------------- // TASKS CARDS // ------- %>
  <div class="ms-5 me-5" style="max-height: 180px; overflow-y: scroll;">
    <div class="d-flex flex-column mb-3 card-task">
      <% if current_user.present? %>
        <% @tasks.each do |task| %>
          <div class="d-flex align-items-center">
          <% p "TASK HERE", task %>
            <div class="me-3 custom-checkbox">
              <input type="checkbox" id="task_<%= task.id %>" name="task_<%= task.id %>" style="transform: scale(1.5);"/>
            </div>
            <%# <div class="icon-task me-3">
              <i class="fa-solid fa-envelope"></i>
            </div> %>
            <div class="card-task" style="margin-bottom:0">
              <p><%= task.name %> - <span style="color: #9796f0;"><%= task.job_application.job_title %> @<%= task.job_application.company.name %></span></p>
              <p style="margin-top: -15px; font-size: 12px; color: #7E7E7E;"><%= task.description %></p>
            </div>
          </div>
        <% end %>
      <% else %>
        <p>No task available.</p>
      <% end %>
    </div>
  </div>
</div>
