<div class="container container-colored">

  <%= render 'shared/new_tasks', task: @task %>

<%# ------------- // TASKS MESSAGE // ------- %>
  <div class="ms-5 me-5 d-flex justify-content-between">
    <h3 style="padding: 10px;">My to-do list</h3>
    <button type="button" class="btn btn-task mt-2" data-bs-toggle="modal" data-bs-target="#newTaskModal">
      <i class="fa-solid fa-circle-plus"></i> <strong>Add a task</strong>
    </button>
  </div>
<%# ------------- // PROGRESS BAR // ------- %>
  <div class="progress">
    <div class="progress-bar" style="width: 70%; font-weight: bold; font-size: 12px text-align: center; padding-left: 394px; color: #745EF5;">70%</div>
  </div>

<%# ------------- // TASKS CARDS // ------- %>
  <div class="ms-5 me-5">
    <div class="d-flex flex-column mb-3 card-task">
      <% if current_user.present? %>
        <% @tasks.each do |task| %>
          <div class="d-flex align-items-center">
            <div class="me-3 custom-checkbox">
              <input type="checkbox" id="task_<%= task.id %>" name="task_<%= task.id %>" style="transform: scale(1.5);"/>
            </div>
            <%# <div class="icon-task me-3">
              <i class="fa-solid fa-envelope"></i>
            </div> %>
            <div class="task-card" style="margin-bottom:0">
              <p><strong><%= task.name %></strong></p>
              <p style="margin-top: -15px; font-size: 14px;"><%= task.description %></p>
            </div>
          </div>
        <% end %>
      <% else %>
        <p>No task available.</p>
      <% end %>
    </div>
  </div>
</div>
