
<div class="modal fade" id="statusUpdateModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div>
      </div>
      <div class="modal-header">
        <img src="https://res.cloudinary.com/dkr1l2a2k/image/upload/v1710096907/Pablo_the_foxi_c36qx3.png" style="height: 200px;" alt="">
        <h5 class="modal-title" id="statusUpdateModalLabel">Update Job Application Status</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= simple_form_for(task) do |f| %>
          <%= f.input :name %>
          <%= f.input :description %>
          <%= f.association :job_application,
                            label: "Select Job Application",
                            label_method: ->(e){ "#{e.job_title} - #{e.company.name}" } %>
          <%= f.button :submit, class: 'btn-flat' %>
        <% end %>
      </div>
    </div>
  </div>
</div>



<script>
      function closeModal() {
        var modal = document.getElementById('newTaskModal');
        if (modal) {
            modal.classList.remove('show');
            modal.setAttribute('aria-hidden', 'true');
            modal.style.display = 'none';
            var modalBackdrop = document.getElementsByClassName('modal-backdrop')[0];
            if (modalBackdrop) {
                modalBackdrop.remove();
            }
        }
    }
</script>
