<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <% if current_user.present? %>
      <%= current_user.id_token %>
    <% end %>
    <%= link_to "#", class: "navbar-brand" do %>
      <%= image_tag "https://res.cloudinary.com/dkr1l2a2k/image/upload/v1709564584/Pablo_logo_1_af52g6.png" %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <%# if user_signed_in? %>
          <%= simple_form_for :search, url: root_path, method: :get do |f| %>
            <div class="search-form-control form-group">
              <input class="form-control string required" type="text" name="search[query]" id="search_query" />
              <button name="button" type="submit" class="btn btn-flat">
                <i class="fas fa-search"></i> Search
              </button>
            </div>
          <% end %>

          <li class="nav-item dropdown">
            <%= image_tag "https://cdn-icons-png.flaticon.com/128/1782/1782873.png", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Action", "#", class: "dropdown-item" %>
              <%= link_to "Another action", "#", class: "dropdown-item" %>
              <%= link_to "Log out", "#", class: "dropdown-item", data: {turbo_method: :delete} %>
            </div>
          </li>
        <%# else %>
          <!--li class="nav-item"-->
            <%#= link_to "Login", new_user_session_path, class: "nav-link" %>
          <!--/li-->
        <%# end %>
      </ul>
    </div>
  </div>
</div>

<div class="container">
  <div>
  <p class="category-tag">#category</p>
  <p class="category-process">process stage</p>
  </div>
</div>


<ul class="list-inline tabs-underlined">
  <li>
    <a href="#" class="tab-underlined active">Bookings</a>
  </li>
  <li>
    <a href="#" class="tab-underlined">Requests</a>
  </li>
  <li>
    <a href="#" class="tab-underlined">Conversations</a>
  </li>
</ul>

<ul class="timeline">
  <div class="white-line"></div>
  <li class="timeline-item">
    <div class="timeline-item-content">
      <div class="bubble-white my-4"></div>
      <h3>Étape 1</h3>
      <p>Description de l'étape 1...</p>
      <span class="timeline-item-date">01/03/2024</span>
    </div>
  </li>
  <div class="white-line"></div>
  <li class="timeline-item">
    <div class="timeline-item-content">
      <div class="bubble-white my-4"></div>
      <h3>Étape 2</h3>
      <p>Description de l'étape 2...</p>
      <span class="timeline-item-date">05/03/2024</span>
    </div>
  </li>
  <div class="white-line"></div>
  <li class="timeline-item">
    <div class="timeline-item-content">
      <div class="bubble-white my-4"></div>
      <h3>Étape 3</h3>
      <p>Description de l'étape 3...</p>
      <span class="timeline-item-date">10/03/2024</span>
    </div>
  </li>
  <div class="white-line"></div>
  <li class="timeline-item">
    <div class="timeline-item-content">
      <div class="bubble-white my-4"></div>
      <h3>Étape 4</h3>
      <p>Description de l'étape 4...</p>
      <span class="timeline-item-date">15/03/2024</span>
    </div>
  </li>
  <div class="white-line"></div>
</ul>
