<div class="simple-calendar" data>
 <div class="calendar-heading d-flex justify-content-between align-items-center mb-3">
  <div>
    <%= link_to '<i class="fa-solid fa-chevron-left"></i>'.html_safe, calendar.url_for_previous_view, remote: true, class: "fs-5 me-5" %>
    <span class="calendar-title"><%= t('date.month_names')[start_date.month] %> <%= start_date.year %></span>
    <%= link_to '<i class="fa-solid fa-chevron-right"></i>'.html_safe, calendar.url_for_next_view, remote: true, class: "fs-5 ms-5" %>
  </div>
  <!-- Button to add a new event -->
</div>

  <table class="table table-striped">
    <thead>
      <tr>
        <% date_range.slice(0, 7).each do |day| %>
          <th><%= t('date.abbr_day_names')[day.wday] %></th>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <% date_range.each_slice(7) do |week| %>
        <tr>
          <% week.each do |day| %>
            <%= content_tag :td, class: calendar.td_classes_for(day) do %>
              <% instance_exec(day, calendar.sorted_events_for(day), &passed_block) %>
            <% end %>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
