<!DOCTYPE html>
<html>
  <head>
    <title>Pablo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="shortcut icon" href="https://res.cloudinary.com/dkr1l2a2k/image/upload/v1709821014/EEEAFB_3_jpbhrw.png"/>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render "shared/sidebar" %>
    <%= render "shared/flashes" %>
    <%= yield %>
  </body>
</html>
